.App{
  background-color: black;
  color: white;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-header{
  font-family: cursive;
  font-size: large;
}